html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  margin: 18px;
  color: white;
  font-size: 64px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.image-box {
  width: 300px;
  height: 500px;
  margin: 10px;
  overflow: hidden;
  border-radius: 8px;
  background-color: black;
  opacity: 1;
  transition: transform 0.3s ease;
}

.image-box2 {
  width: 300px;
  height: 500px;
  margin: 10px;
  overflow: hidden;
  border-radius: 8px;
  background-color: black;
  opacity: 1;
  transition: transform 0.3s ease;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(20%);
}

.image-box:hover {
  box-shadow: 0 2px 32px rgba(255, 255, 255, 1);
  transform: scale(1.1);
}

.image-box2:hover {
  box-shadow: 0 2px 32px rgb(143, 3, 3);
}

.image:hover {
  filter: brightness(100%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #610606;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover {
  color: red;
}
.modal {
  border-radius: 20px;
  display: none;
  position: absolute;
  width: 800px;
  height: 800px;
  background-color: rgb(0, 0, 0);
  animation: fadeIn 0.8s ease;
  z-index: 1;
  color: white;
}
.modal-content {
  display: block;
  width: 100%;
  max-height: 80%;
}
.modalImage {
  max-width: 100%;
  height: auto;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  height: 350px;
}
.modalText {
  margin: 25px;
}
.modalHeader {
  margin: 10px;
}
#container,
#enYavasHizDiv,
#firsttext,
#enHizliDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: white;
  display: none;
}
#container p.header {
  text-align: center;
}

#container .image-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#container .image-box {
  flex: 0 0 30%;
  margin-right: 10px;
}

#container .image-box img {
  width: 100%;
  height: auto;
}
.button {
  text-align: center;
  width: 140px;
  height: 40px;
  color: white;
  background: red;
  cursor: pointer;
}
.button:hover {
  background: #000;
}
.button:hover + Star {
  animation-play-state: paused;
}
