body {
  background: #000;
  display: grid;
  font: 87.5%/1.5em "Lato", sans-serif;
  margin: 0;
  min-height: 100vh;
  place-items: center;
  cursor: default; /* Mouse işaretçisini değiştirmeyi engeller */
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  padding: 0;
}
.container {
  display: flex; /* Flexbox kullanarak içeriği yatay düzende sırala */
  gap: 100px;
}
.calendar-container {
  position: relative;
  width: 450px;
}

.calendar-container header {
  border-radius: 1em 1em 0 0;
  background: #7c0b0b;
  color: #fff;
  padding: 3em 2em;
}

.day {
  font-size: 8em;
  font-weight: 900;
  line-height: 1em;
}

.month {
  font-size: 4em;
  line-height: 1em;
  text-transform: lowercase;
}

.calendar {
  background: #fff;
  border-radius: 0 0 1em 1em;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 3px 1px #fff;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 3px 1px #fff;
  color: #555;
  display: inline-block;
  padding: 2em;
}

.calendar thead {
  color: #7c0b0b;
  font-weight: 700;
  text-transform: uppercase;
}

.calendar td {
  padding: 0.5em 1em;
  text-align: center;
}

.calendar tbody td:hover {
  background: #cacaca;
  color: #fff;
}
@keyframes glowing {
  0% {
    text-shadow: 0 0 10px #7c0b0b, 0 0 20px #7c0b0b, 0 0 30px #7c0b0b,
      0 0 40px #3e0707;
  }
  30% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0 0 10px #7c0b0b, 0 0 20px #7c0b0b, 0 0 30px #7c0b0b,
      0 0 40px #3e0707;
  }
}

.current-day {
  color: #7c0b0b;
  animation: glowing 1.5s infinite;
}

.prev-month,
.next-month {
  color: #cacaca;
}

.ring-left,
.ring-right {
  position: absolute;
  top: 230px;
}

.ring-left {
  left: 2em;
}
.ring-right {
  right: 2em;
}

.ring-left:before,
.ring-left:after,
.ring-right:before,
.ring-right:after {
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.3),
    0 -1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.3), 0 -1px 1px rgba(0, 0, 0, 0.2);
  content: "";
  display: inline-block;
  margin: 8px;
  height: 32px;
  width: 8px;
}
.task-list-container {
  padding: 10px;
  width: 300px;
  background-color: #fff;
  color: #555;
  display: none;
}

.task-list {
  width: 300px;
  border: 1px solid #7c0b0b;
  padding: 10px;
}

.task-list li {
  font-size: 18px;
  margin-bottom: 5px;
  position: relative;
  list-style-type: none; /* Listenin başındaki noktaları kaldır */
}

.task-list li::before {
  content: "\2713";
  margin-right: 5px;
  position: absolute;
  left: -20px;
  color: green;
}

.task-list li.crossed::before {
  content: "\2715"; /* Unicode karakteri olan çarpı işareti */
  color: red;
}
@keyframes scaleAndGlow {
  0% {
    transform: scale(1.02);
    text-shadow: none;
    color: #000;
  }
  50% {
    transform: scale(1.02);
    text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000;
    color: #fff;
  }
  100% {
    transform: scale(1.02);
    text-shadow: none;
    color: #000;
  }
}

.day:hover {
  animation: scaleAndGlow 1s infinite;
}
