::-webkit-scrollbar {
  width: 10px;
  background-color: #340000;
  border-left: 1px solid #340000;
}
::-webkit-scrollbar-thumb {
  background-color: #555555;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #333333;
}
body {
  margin: 0 auto;
  width: 1300px;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: black; /* Body arka planını siyah yapar */
  color: #ffffff;
  cursor: default; /* Mouse işaretçisini değiştirmeyi engeller */
}

.container {
  display: flex;
  flex-direction: column; /* Menüyü üstte, içerik ortada ve footer altta düzenler */
  max-width: 80%;
  margin: 0 auto;
}
header {
  text-align: center;
  width: 500px;
  height: 120px;
  position: relative;
  top: 15px; /* 20px aşağı çekmek için top değerini artırın */
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  overflow: hidden;
  background-color: #101010;
  border: 1px solid #fff;
}

h1 {
  margin: 20px 0; /* Boşluk bırakmak için margin ekleyin */
  line-height: 40px; /* İstediğiniz boşluğa göre line-height ayarı */
}

nav {
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
}

main {
  flex: 1;
  padding: 20px;
  flex-wrap: wrap; /* Film afişlerini yanyana sıralar */
  justify-content: flex-start; /* Afişleri yan yana hizalar */
  align-items: flex-start; /* Afişleri yukarıdan aşağı sıralar */
}

.film-section {
  margin-top: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.film-post {
  border: 1px solid #340000;
  background-color: #000000;
  border-radius: 5px;
  margin: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1 0 21%;
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.film-post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.film-post .film-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Siyah arka plan rengi */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.film-post:hover img {
  opacity: 0.5;
}

.film-post:hover .film-content {
  opacity: 1;
}

.film-post h3 {
  color: white; /* Başlık rengi beyaz yapılıyor */
  margin-top: 20px; /* Başlık ile bloğun üstü arasında 20px boşluk bırakılıyor */
  text-align: center; /* Başlığı merkeziyor */
  position: absolute;
  top: 1%; /* Başlığı 10px üstten konumlandırıyor */
  left: 3%; /* Başlığı 10px soldan konumlandırıyor */
  opacity: 0; /* Başlık başlangıçta görünmez yapılıyor */
  transition: opacity 0.2s ease;
  margin-top: 3%;
  font-size: 125%;
}

.film-post:hover h3 {
  opacity: 1; /* Mouse ile bloğun üzerine gelindiğinde başlık görünür yapılıyor */
}

.film-post p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white; /* Yazı rengi beyaz yapılıyor */
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.film-post:hover p {
  opacity: 1;
}

.film-post h2 {
  color: white; /* Başlık rengi siyah yapılıyor */
  margin-top: 20px; /* Başlık ile bloğun üstü arasında 20px boşluk bırakılıyor */
  text-align: center; /* Başlığı merkeziyor */
}

footer {
  text-align: center;
  padding: 20px;
  background-color: black; /* Footer arka planını siyah yapar */
  color: white;
}
