body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.page {
  width: 100%;
  height: 100vh; /* Ekran yüksekliği kadar */
  position: absolute;
  transition: transform 0.5s; /* Geçiş efekti süresi */
}
.active {
  transform: translate(0, 0);
}

.page:not(.active) {
  transform: translate(0, 100%);
}
#page1 {
  background-color: #3498db; /* İlk sayfanın arka plan rengi */
}

#page2 {
  background-color: #e74c3c; /* İkinci sayfanın arka plan rengi */
}
